@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  background: linear-gradient(to right, #ff7eb9, #ff65a3, #7afcff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  width: 100vw;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url('https://media.tenor.com/9Hmr3sWAjLgAAAAi/heart-hearts.gif'); */
  opacity: 0.3;
  z-index: -1;
}

.form-input, .form-textarea {
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 2px solid #ff65a3;
  transition: all 0.2s ease;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.form-input:focus, .form-textarea:focus {
  border-color: #ff7eb9;
  box-shadow: 0px 4px 12px rgba(255, 101, 163, 0.3);
}

.button-hover:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ff65a3, #ff7eb9);
}

.form-input, .form-textarea {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #ff65a3;
  transition: all 0.2s ease;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
}

.form-input:focus, .form-textarea:focus {
  border-color: #ff7eb9;
  box-shadow: 0px 4px 12px rgba(255, 101, 163, 0.3);
}

.banner-cls {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 8px;
  border: 1px solid black;
  border-radius: 12px;
  color: #ff65a3;
}